.live {
  display: flex;
  background-color: #fff;
  position:relative;
  margin: 0 auto;
  width: calc(100% - 20rem);
  min-width: 850px;
  height: 86%;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.3);
  min-width: 950px;
  .tui-kit {
    border-radius: 12px;
    .live-chat, .memeberList {
      border-radius: 0 12px 12px 0;
    }
  }
  &-player {
    flex: 2;
  }
  &-chat {
    min-width: 280px;
    background: rgba(249, 249, 249, 0.94);
    .icon-overlapping {
      width: 18px;
      height: 14px;

    }
    .tui-chat-header {
      padding: 32px 16px;
    }
    .header-content {
      text-align: center;
    }
  }
  &-input {
    background: #FFFFFF;
    border-radius: 15px;
    margin: 14px 12px;
    &:focus-within {
      outline: 1px solid #146aff;
    }
    .tui-message-input-main {
      gap: 0;
      padding: 0;
      .tui-message-input-box {
        flex-direction: row-reverse;
        .input-box {
          border: none;
        }
        .tui-kit-input-box--focus {
          outline: none;
        }
      }
      .transmitter {
        padding-left: 0;
      }
    }
  }
  &-none {
    width: 0;
    opacity: 0;
    position: absolute;
  }
}

.icon  {
  cursor: pointer;
  &-expand {
    width: 15px;
    height: 12px;
  }
  &-member {
    width: 12px;
    height: 13px;
  }
  &-backChat {
    width: 16px;
    height: 16px;
  }
  &-title {
    width: 18px;
    height: 18px;
  }
  &-arrow {
    width: 13.5px;
    height: 6.75px;
  }
  &-owner {
    width: 14px;
    height: 14px;
  }
  &-gift {
    width: 16px;
    height: 16px;
  }
  &-more {
    width: 3px;
    height: 12px;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.memeberList {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
    h1 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #000000;
    }
  }
  &-content {
    flex: 1;
    display: flex;
    height: 100%;
    .tui-live-members {
      max-height: calc(100% - 80px);
    }
  }
}

.live-message {
  flex-direction: row;
  justify-self: flex-start;
  .content {
    flex-direction: row;
    align-items: center;
    .message-text {
      border: none;
    }
  }
  .message-custom {
    border: none;
  }
  .in {
    align-items: center;
  }
  .out {
    flex-direction: row;
    justify-self: flex-start;
  }
  .bubble-out {
    border-radius: 16px 16px 16px 0;
  }
  .message-plugin {
    width: auto;
  }
}

.live-custom-name {
  display: inline-flex;
  align-items: center;
  background: #FFFFFF;
  border-radius: 4px;
  color: #999999;
  padding: 4px;
  margin-left: 5px;
  gap: 2px;
  line-height: 14px;
  span {
    padding-bottom: 2px;
  }
}

.live-self-name {
  background: #f2f7ff;
}

.live-owner-name {
  background: #F9D749;
  border-radius: 24px;
  color: #000000;
  padding: 4px 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.live-message-prefix {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-right: 2px;
  .leave {
    display: inline-flex;
    align-items: center;
    align-self: center;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    padding: 2px 4px;
    transform: scale(.75);
  }
  // .vip-box {
  //   transform: scale(1.5);
  // }
}

.tui-gift {
  position: relative;
  display: flex;
  padding: 0 12px;
  &-wallet {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 6px;
    background: #FF9500;
    border-radius: 17px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
  }
  &-popup {
    position: absolute;
    z-index: 4;
    bottom: calc(100% + 10px);
    left: 0;
    max-width: 220px;
    margin: 0 18px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 174%;
        color: #000000;
      }
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  &-item {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    .tui-gift-wallet{
      margin-top: 10px;
      background: #FFFFFF;
      color: #000000;
    }
    .gift-item-icon {
      width: 25px;
      height: 25px;
    }
    dd {
      height: 100px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-name {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .gift-image {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    animation: giftShowAnimation 2s ease-in-out forwards, giftAnimation 2s ease-in-out infinite 2s;
  }
}

@keyframes giftShowAnimation {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes giftAnimation {
  0% {
    bottom: 100%;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

.icon-close {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;
  &::before,&::after {
    position: absolute;
    content: "";
    background: #444444;
    width: 1px;
    height: 100%;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.pin-message-list {
  padding: 0 12px;
  .message-context {
    color: #FFFFFF;
  }
  .meesage-bubble {
    flex: 1;
  }
  .message-plugin-top {
    bottom: auto !important;
    top: 100% !important;
    border-radius: 4px;
  }
}

.animation-item {
  padding: 4px 8px;
  border-radius: 4px;
  background: #4C5156;
  position: relative;
  animation: animationTopItem 2s ease-in-out forwards;
}
@keyframes animationTopItem {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.pin {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 0 8px;
  margin: 0 12px;
  background: #4C5156;
  border-radius: 4px;
  &-main {
    display: inline;
    padding: 5px 0;
    width: 100%;
  }
  &-left {
    float: left;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding-right: 5px;
  }
  .live-owner-name {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .text {
    flex: 1;
    color: #FFFFFF;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
  }
  .icon-close {
    top: 8px;
  }
  .menu {
    cursor: pointer;
    display: inline-flex;
    padding-top: 10px;
    position: relative;
    &:hover {
      .menu-list {
        display: flex;
      }
    }
    img {
      width: 6px;
      height: 24px;
    }
    &-list {
      width: max-content;
      position: absolute;
      z-index: 5;
      top: 100%;
      right: 0;
      background: #FFFFFF;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      padding: 12px;
      display: none;
      flex-direction: column;
      gap: 10px;
      li {
        cursor: pointer;
      }
    }
  }
}

.icon-close {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #999999;
  }
  &::before {
    transform: rotate('45deg');
  }
  &::after {
    transform: rotate('-45deg');
  }
}

.lable-with-title {
  position: relative;
  right: 6px;
  &:hover {
    .title {
      opacity: 1;
      display: inline-block !important;
    }
  }
  .title {
    opacity: 0;
    position: absolute;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(54, 58, 80, 0.16);
    border-radius: 4px;
    white-space: nowrap;
    bottom: calc(100% + 20px);
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top: 10px solid #FFFFFF;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

// inline style
.live {
  .message-list {
    padding-top: 10px;
    .message-list-item {
      padding: 7px 0;
    }
    .message-list-time {
      display: inline-block;
      padding: 7px 20px;
      position: relative;
      &::before{
        content: '--';
        position: absolute;
        left: 0;
      }
      &::after {
        content: '--';
        position: absolute;
        right: 0px;
      }
    }
  }
  &-message {
    .in,.out{
      display: inline;
      clear: both;
    }
    .bubble {
      padding-left: 2px;
      font-family: PingFangSC-Regular;
      word-break: break-word;
      color: #333;
    }
    &-prefix {
      float: left;
      height: 24px;
    }
    .tui-kit-avatar {
      float: left;
      width: 24px !important;
      height: 24px !important;
    }
    .content {
      display: inline;
      .live-custom-name {
        float: left;
      }
      .bubble-out {
        background: none;
        border-radius: 16px;
      }
      .meesage-bubble, .meesage-bubble-context, .message-context, .bubble {
        display: inline;
      }
      .message-custom {
        line-height: 24px;
      }
      .message-text-content-p{
        white-space: pre-wrap;
        line-height: 24px;
      }
      .message-status {
        display: inline;
      }
      .message-image {
        display: inherit;
      }
    }
  }
  .face-list {
    min-width: 243px;
    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 10px;
    }
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
  .emoji-plugin-right {
    padding: 0 3px;
    overflow: hidden;
  }
}
