@use "../../../styles/colors/color-theme" as *;

.message-text,
.message-custom {
  @include theme() {
    border: 1px solid get(border-5);
  }
}

.bubble {
  @include theme() {
    background-color: get(bg-primary);
  }

  &-out {
    @include theme() {
      border: none;
      background-color: get(bg-secondary);
    }
  }
}

.meesage-bubble-reply-out {
  .meesage-bubble-reply-main {
    .message-text {
      background: none;
    }
  }
}

.message-tip {
  @include theme() {
    color: get(text-secondary);
  }
}

.tip {
  .bubble {
    .edit {
      color: #147aff;
      padding: 3px;
    }
  }
}
