@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.tui-contacts-list {
  flex: 1 1 auto;
  min-width: 360px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: initial;
  overflow: hidden scroll;

  @include theme() {
    color: get(text-color-primary);
  }

  .tui-contacts-title {
    display: flex;
    justify-content: space-between;
  }

  .tui-contacts-list-title {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
  }

  .tui-contacts-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    .contacts-list-icon {
      font-size: 12px;

      @include theme() {
        color: get(text-color-primary);
      }
    }
  }

  .tui-contacts-list-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;

    .tui-contacts-list-item-card {
      display: flex;
      padding: 0 10px;
      overflow: hidden;
      align-items: center;
      justify-content: space-between;
      flex: 1;
    }

    .tui-contacts-list-item-container {
      margin-left: 10px;
    }

    .text-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tui-contacts-list-item-text {
      color: #999;
      font-size: 12px;
      text-align: left;

      @extend .text-ellipsis;
    }

    .tui-contacts-list-btn-text {
      color: #999;
      font-size: 12px;
      text-align: left;
    }

    .tui-contacts-list-item-name {
      @extend .text-ellipsis;
    }
  }

  .application-btn {
    width: 30px;
    height: 14px;
    padding: 5px;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #006eff;
    background: #006eff;
    color: #fff;
  }
}

::-webkit-scrollbar {
  display: none;
}

.tui-contacts-list-h5 {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}
