.inbox-container-mobile .tui-kit {
  display: flex;
  flex-direction: column;
}

.inbox-container-mobile .tui-profile {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.inbox-container-web .div-with-edit .edit .select {
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.2) !important;
  top: -260px !important;
}
