@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.tui-kit-input-box {
  //width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 8px;
  height: 38px;
  box-sizing: border-box;

  @include theme() {
    background-color: get(bg-color-input);
  }

  &.tui-kit-input-box--focus {
    @include theme() {
      outline: 1px solid get(text-color-link);
    }
  }

  &.tui-kit-input-border--bottom {
    outline: none;
    border-radius: 0;

    @include theme() {
      border-bottom: 1px solid get(stroke-color-primary);
      background-color: get(bg-color-operate);
    }
  }

  .tui-kit-input {
    margin-left: 6px;
    margin-right: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;

    @include theme() {
      color: get(text-color-primary);
    }

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      padding: 2px 0;

      @include theme() {
        color: get(text-color-secondary);
      }
    }
  }
}
