@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.tui-contact-info {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 60px;
  flex-direction: column;
  overflow: hidden;

  @include theme() {
    background-color: get(bg-color-operate);
  }

  .tui-contact-info-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;

    .header-container {
      flex: 1;

      .header-container-avatar {
        display: flex;
        align-items: center;
        padding: 10px;
      }

      .header-container-name {
        font-size: 24px;
        padding: 15px;

        @include theme() {
          color: get(text-color-primary);
        }
      }

      .header-container-text {
        margin-top: 20px;
        font-size: 16px;
        word-break: break-all;

        @include theme() {
          color: get(text-color-secondary);
        }
      }
    }
  }

  .tui-contact-info-content {
    padding: 15px 0;
    overflow: hidden;

    @include theme() {
      color: get(text-color-secondary);
    }

    .content-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 0;
      font-size: 16px;
      min-height: 56px;
    }

    .content-item-wording {
      padding: 6px 0;
      font-size: 16px;
      min-height: 56px;
    }

    .content-item-wording-text {
      margin-top: 5px;
      flex: 1;
      border: 1px solid #e8e8e9;
      border-radius: 4px;
      padding: 4px;
      color: inherit;
      resize: none;
      height: 100px;
      width: 95%;
    }

    .content-item-label {
      margin-right: 5px;
    }

    .content-item-text {
      flex: 1;
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }

    .content-btn-container {
      display: flex;
      padding: 30px;
      justify-content: center;

      .content-item-btn {
        margin: 15px;
        padding: 8px 20px;
        border-radius: 25px;
        border: none;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0;
        min-width: 100px;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
      }

      .delete-btn {
        @include theme() {
          color: get(text-color-error);
          border: 1px solid get(border-color-error);
        }
      }

      .confirm-btn {
        @include theme() {
          color: #fff;
          background-color: get(text-color-link);
        }
      }
    }
  }
}

.tui-contact-info-h5 {
  padding: 8px;
}
