@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

$primary-color: royalblue;

.tui-kit-icon {
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;

  .icon-image {
    width: 100%;
  }

  &:hover {
    color: $primary-color;
    border-color: currentcolor;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    box-shadow: 0 0 0 6px $primary-color;
    transition: 0.3s;
  }

  &:active::after {
    box-shadow: none;
    opacity: 0.4;
    transition: 0s;
  }
}

.tui-kit-icon-loading {
  cursor: wait;
  border-radius: 100%;
  animation: circle infinite 1s linear;

  @include theme() {
    border: 3px solid get(text-color-disable);
    border-top-color: transparent;
  }

  &:hover {
    @include theme() {
      border: 3px solid get(text-color-disable);
      border-top-color: transparent;
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
