@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.info {
  @include theme() {
    background-color: get(bg-color-operate);
    color: get(text-color-primary);
  }
}

.warn {
  @include theme() {
    background-color: get(text-color-warning);
    color: #fff;
  }
}

.error {
  @include theme() {
    background-color: get(text-color-error);
    color: #fff;
  }
}
