@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.tui-contact-search {
  width: 100%;
  position: relative;
  text-align: initial;
  align-items: center;
  justify-content: space-between;

  .tui-contact-search-input {
    margin: 0 10px;
  }

  .tui-contact-search-text {
    color: #147aff;
    font-size: 14px;
  }

  .tui-contact-search-item {
    position: absolute;
    margin: 10px 20px;
    display: flex;
    align-items: center;

    @include theme() {
      color: get(text-color-primary);
    }

    .search-item-name {
      padding-left: 10px;
    }
  }
}
