@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.message-custom {
  @include theme() {
    border: 1px solid  get(stroke-color-primary);
  }
}

.bubble {
  @include theme() {
    background-color: get(bg-color-bubble-reciprocal);
    color: get(text-color-primary);
  }

  &-out {
    @include theme() {
      border: none;
      background-color: get(bg-color-bubble-own);
      color: get(text-color-anti-primary);
    }
  }
}

.meesage-bubble-reply-out {
  .meesage-bubble-reply-main {
    .message-text {
      background: none;
    }
  }
}

.message-tip {
  @include theme() {
    color: get(text-color-secondary);
  }
}

.tip {
  .bubble {
    .edit {
      color: #147aff;
      padding: 3px;
    }
  }
}
