@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.tui-contacts {
  height: 100%;
  min-width: 360px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: initial;
  overflow: hidden;

  @include theme() {
    background-color: get(bg-color-operate);
  }

  .tui-contacts-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
  }

  .tui-contact-input {
    width: 100%;
  }

  .tui-contacts-add {
    color: #147aff;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    display: flex;
    text-align: center;

    .tui-conversation-create-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tui-contacts-add-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 16px 20px;
    text-align: center;
    margin-bottom: 10px;

    @include theme() {
      background-color: get(bg-color-operate);
    }

    .tui-contacts-add-header-title {
      font-size: 20px;
      font-weight: 600;
      margin-left: 10px;

      @include theme() {
        color: get(text-color-primary);
      }
    }
  }

  .no-result {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
      margin: 100px auto 50px;
    }

    &-message {
      font-size: 16px;
      line-height: 22px;

      @include theme() {
        color: get(text-color-secondary);
      }
    }
  }
}

.tui-contacts-h5 {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}
