$light-colors: (
  // bg
  --uikit-theme-light-bg-color-topbar: #f9fafc,
  --uikit-theme-light-bg-color-operate: #fff,
  --uikit-theme-light-bg-color-input: #f0f2f7,
  --uikit-theme-light-bg-color-bubble-reciprocal: #f0f2f7,
  --uikit-theme-light-bg-color-bubble-own: #cce2ff,
  --uikit-theme-light-bg-color-default: #f0f2f7,
  --uikit-theme-light-bg-color-tag-mask: rgba(255, 255, 255, 55%),
  --uikit-theme-light-bg-color-mask: rgba(0, 0, 0, 55%),
  // text
  --uikit-theme-light-text-color-primary: rgba(0, 0, 0, 93%),
  --uikit-theme-light-text-color-secondary: rgba(0, 0, 0, 66%),
  --uikit-theme-light-text-color-tertiary: rgba(0, 0, 0, 40%),
  --uikit-theme-light-text-color-disable: rgba(0, 0, 0, 28%),
  --uikit-theme-light-text-color-link: #1c66e5,
  --uikit-theme-light-text-color-link-hover: #4588f5,
  --uikit-theme-light-text-color-link-disabled: #cce2ff,
  --uikit-theme-light-text-color-anti-primary: rgba(0, 0, 0, 90%),
  --uikit-theme-light-text-color-anti-secondary: rgba(0, 0, 0, 55%),
  --uikit-theme-light-text-color-warning: #ff7200,
  --uikit-theme-light-text-color-success: #0abf77,
  --uikit-theme-light-text-color-error: #e54545,
  // dropdown
  --uikit-theme-light-dropdown-color-default: #fff,
  --uikit-theme-light-dropdown-color-hover: #f9fafc,
  --uikit-theme-light-dropdown-color-active: #ebf3ff,
  // list
  --uikit-theme-light-list-color-default: #fff,
  --uikit-theme-light-list-color-hover: #f9fafc,
  --uikit-theme-light-list-color-active: #ebf3ff,
  // border
  --uikit-theme-light-stroke-color-primary: #f9fafc,
  --uikit-theme-light-stroke-color-secondary: rgba(0, 0, 0, 55%),
  // box-shadow
  --uikit-theme-light-shadow-color: rgba(0, 0, 0, 6%),
);

:root {
  @each $name, $color in $light-colors {
    #{$name}: $color;
  }

  color-scheme: light dark;
}
