$dark-colors: (
  // bg
  --uikit-theme-dark-bg-color-topbar: #16171a,
  --uikit-theme-dark-bg-color-operate: #1f2024,
  --uikit-theme-dark-bg-color-input: #2b2c30,
  --uikit-theme-dark-bg-color-bubble-reciprocal: #2b2c30,
  --uikit-theme-dark-bg-color-bubble-own: #5c9dff,
  --uikit-theme-dark-bg-color-default: #16171a,
  --uikit-theme-dark-bg-color-tag-mask: rgba(0, 0, 0, 55%),
  --uikit-theme-dark-bg-color-mask: rgba(0, 0, 0, 55%),
  // text
  --uikit-theme-dark-text-color-primary: rgba(255, 255, 255, 93%),
  --uikit-theme-dark-text-color-secondary: rgba(255, 255, 255, 66%),
  --uikit-theme-dark-text-color-tertiary: rgba(255, 255, 255, 40%),
  --uikit-theme-dark-text-color-disable: rgba(255, 255, 255, 28%),
  --uikit-theme-dark-text-color-link: #4086ff,
  --uikit-theme-dark-text-color-link-hover: #2b6ad6,
  --uikit-theme-dark-text-color-link-disabled: #243047,
  --uikit-theme-dark-text-color-anti-primary: rgba(0, 0, 0, 90%),
  --uikit-theme-dark-text-color-anti-secondary: rgba(0, 0, 0, 55%),
  --uikit-theme-dark-text-color-warning: #e37f32,
  --uikit-theme-dark-text-color-success: #38a673,
  --uikit-theme-dark-text-color-error: #e6594c,
  // dropdown
  --uikit-theme-dark-dropdown-color-default: #2b2c30,
  --uikit-theme-dark-dropdown-color-hover: #3a3c42,
  --uikit-theme-dark-dropdown-color-active: #1f2024,
  // list
  --uikit-theme-dark-list-color-default: #1f2024,
  --uikit-theme-dark-list-color-hover: #2b2c30,
  --uikit-theme-dark-list-color-active: #243047,
  // border
  --uikit-theme-dark-stroke-color-primary: #3a3c42,
  --uikit-theme-dark-stroke-color-secondary: #2b2c30,
  // box-shadow
  --uikit-theme-dark-shadow-color: rgba(0, 0, 0, 6%),
);

:root {
  @each $name, $color in $dark-colors {
    #{$name}: $color;
  }

  color-scheme: light dark;
}
