.tui-contact-info {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 60px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  .tui-contact-info-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    .header-container {
      flex: 1;
      .header-container-avatar {
        display: flex;
        align-items: center;
        padding: 10px;
      }
      .header-container-name {
        font-size: 24px;
        padding: 15px;
      }
      .header-container-text {
        font-size: 16px;
        line-height: 50px;
        font-weight: 400;
        color: #999999;
        word-break: break-all;
      }
    }
  }
  .tui-contact-info-content {
    padding: 15px 0;
    overflow: hidden;
    .content-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 0;
      font-size: 16px;
      font-weight: 400;
      min-height: 56px;
    }
    .content-item-wording {
      padding: 6px 0;
      font-size: 16px;
      font-weight: 400;
      min-height: 56px;
    }
    .content-item-wording-text {
      margin-top: 5px;
      flex: 1;
      border: 1px solid #e8e8e9;
      border-radius: 4px;
      padding: 4px;
      color: inherit;
      resize: none;
      height: 100px;
      width: 95%;
    }
    .content-item-label {
      color: #999;
      margin-right: 5px;
    }
    .content-item-text {
      flex: 1;
      display: flex;
      flex-direction: row;
      color: #333;
      overflow: hidden;
    }
    .content-btn-container {
      display: flex;
      padding: 30px;
      justify-content: center;
      .content-item-btn {
        margin: 15px;
        width: 122px;
        height: 26px;
        padding: 8px 20px;
        border-radius: 25px;
        border: none;
        font-size: 14px;
        text-align: center;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0;
        min-width: 100px;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
      }
      .delete-btn {
        border: 1px solid #e54545;
        background: transparent;
        color: #e54545;
      }
      .confirm-btn {
        border: 1px solid #006eff;
        background: #006eff;
        color: #fff;
      }

    }
  }
}
.tui-contact-info-h5 {
  padding: 8px;
 
}