@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.tui-conversation-group-type-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  overflow-y: scroll;

  @include theme() {
    color: get(text-color-primary);
  }

  .group-type-info-box {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 12px 16px;
    margin-top: 12px;
    cursor: pointer;

    @include theme() {
      background-color: get(bg-color-operate);
      border: 1px solid get(stroke-color-primary);
    }

    &:hover {
      border: 1px solid #147aff;
    }

    &.group-type-info-box--active {
      border: 1px solid #147aff;
    }

    .group-type-info-title {
      font-size: 16px;
      display: flex;
      align-items: center;

      .box-active-icon {
        margin-right: 8px;
      }
    }

    .group-type-info-description {
      font-size: 12px;
      text-align: justify;
    }
  }

  .group-type-info-document {
    font-size: 16px;
    text-align: justify;
    text-decoration: none;
    margin: 1rem auto;

    &:link,
    &:active,
    &:visited {
      @include theme() {
        color: get(text-color-link);
      }
    }
  }
}
