@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.conversation-create-select-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  @include theme() {
    color: get(text-color-primary);
  }

  .select-view-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: calc((100% - 10px) / 5);
    padding: 6px;
    box-sizing: border-box;
    position: relative;

    .select-view-info-close {
      position: absolute;
      right: 15px;
      top: 6px;
      z-index: 2;
    }

    .select-view-info-nick {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      text-align: center;
    }
  }
}
