@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.uikit-conversation-create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tui-conversation-create {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  @include theme() {
    background-color: get(bg-color-operate);
    color: get(text-color-primary);
  }
}

.tui-conversation-create-header {
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  align-items: center;
  text-align: center;

  @include theme() {
    background-color: get(bg-color-operate);
  }

  .title {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.41px;

    @include theme() {
      color: get(text-color-primary);
    }
  }
}

.tui-conversation-create-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tui-conversation-create-search-input {
  margin: 10px;
}

.tui-user {
  padding: 6px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;

  &:hover {
    @include theme() {
      background-color: get(list-color-hover);
    }
  }

  .tui-user-name {
    margin-left: 10px;
    font-size: 14px;
    width: 80%;
    text-align: left;

    @include theme() {
      color: get(text-color-primary);
    }

    &.active {
      font-weight: 600;
      font-size: 14px;

      @include theme() {
        color: get(text-color-link);
      }
    }
  }
}

.tui-user-checkbox-label {
  .tui-user-checkbox {
    margin-left: auto;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}

.tui-conversation-create-next-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto 10px;

  .tui-conversation-create-next {
    cursor: pointer;
    text-align: center;
    border-radius: 31px;
    font-size: 14px;
    color: #fff;
    padding: 12px 36px;

    @include theme() {
      background-color: get(text-color-link);
    }
  }
}

.tui-conversation-create-select-list-container {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 0 10px;

  .tui-conversation-create-select-list {
    position: relative;

    .tui-group-container {
      width: 100%;
    }

    .tui-group-box {
      .title {
        font-weight: 600;
        font-size: 14px;
        padding: 10px;

        @include theme() {
          color: get(text-color-primary);
        }
      }
    }
  }
}
