@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

ul,
li,
div,
p,
label,
span {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.message-list {
  flex: 1;
  height: 100%;
  overflow: hidden auto;
  position: relative;
  padding: 0 20px;

  @include theme() {
    background-color: get(bg-color-operate);
  }

  &.hide {
    opacity: 0;
  }

  &-item {
    display: grid;
    padding: 5px 0;
  }

  .no-more {
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;

    @include theme() {
      color: get(text-color-secondary);
    }
  }

  &-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 10px;
    text-align: center;

    @include theme() {
      color: get(text-color-secondary);
    }
  }
}
