.div-with-edit {
  flex: 1;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  &-popup{
    flex: 1;
    display: flex;
    max-width: 100%;
  }
  .show {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    word-break: break-all;
    &:hover {
      .icon-edit {
        display: flex;
      }
    }
    .icon-edit {
      display: none;
    }
  }
  .icon {
    margin-left: 10px;
    width: 25px;
  }
  .edit {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
    padding: 0 10px;
    input {
      flex: 1;
      font-size: inherit;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
    .select {
      position: absolute;
      box-sizing: border-box;
      min-width: 100%;
      z-index: 2;
      background: #FFFFFF;
      box-shadow: 0 11px 20px 0 rgb(0 0 0 / 30%);
      top: 100%;
      border-radius: 5px;
      padding: 10px 0;
      &-list {
        &-item {
          padding: 5px 10px;
          &:hover {
            background: #f2f7ff;
          }
        }
      }
    }
  }
}