@use "~@tencentcloud/uikit-base-component-react/dist/styles/theme/util" as *;

.div-with-edit {
  flex: 1;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  height: 30px;

  &-popup {
    flex: 1;
    display: flex;
    max-width: 100%;
  }

  .show {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    word-break: break-all;

    .icon-edit {
      display: none;
    }

    &:hover {
      .icon-edit {
        display: flex;
      }
    }
  }

  .icon {
    margin-left: 10px;
    width: 25px;
  }

  .edit {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;

    @include theme() {
      border-bottom: 1px solid get(stroke-color-primary);
    }

    input {
      flex: 1;
      font-size: inherit;
      border: none;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .select {
      position: absolute;
      min-width: 100%;
      z-index: 2;
      top: 100%;
      border-radius: 5px;
      padding: 10px 0;

      @include theme() {
        background: get(dropdown-color-default);
        box-shadow: 0 11px 20px 0 get(shadow-color);
      }

      &-list {
        &-item {
          padding: 7px 10px;

          &:hover {
            @include theme() {
              background: get(dropdown-color-hover);
            }
          }
        }
      }
    }
  }
}
